services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    image: inception-mariadb
    restart: on-failure:3
    env_file:
      - .env
    secrets:
      - wp_db_root_pass
      - wp_db_user_pass
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    image: inception-nginx
    restart: on-failure:3
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    image: inception-wordpress
    restart: on-failure:3
    env_file:
      - .env
    secrets:
      - wp_db_root_pass
      - wp_db_user_pass
    depends_on:
      - mariadb
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception

secrets:
  wp_db_root_pass:
    file: ../secrets/wp_db_root_pass.txt
  wp_db_user_pass:
    file: ../secrets/wp_db_user_pass.txt

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/mariadb
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/${USER}/data/wordpress

networks:
  inception:
    driver: bridge
